@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null; 
    var title = Model.Value("title");
    var body = Model.Value("body");
}

<article>
    <h1>@title</h1>
    <div>
        @Html.Raw(body)
    </div>
</article>
